<div ng-include="'components/navbar/navbar.html'"></div>

  <div layout="row">
    <md-content class="md-padding main">
    <div layout="column">
      <h1>Classrooms</h1>
      <ul ng-show="classrooms">
        <li ng-repeat="classroom in classrooms">
          {{classroom.name}}
        </li>
      </ul>
      <h2>You don't have any classrooms!</h2>
      <md-button ng-href="/classroom/add"class="md-raised md-primary" md-no-ink>Create A Class</md-button>
    </div>
    </md-content>
    <md-content class="md-padding main">
      <div layout="column">
        <h1>Change Password</h1>
        <form name="form" ng-submit="changePassword(form)" novalidate>
            <md-input-container>
                <label>Current Password</label>
                <input type="password" name="password" ng-model="user.oldPassword" mongoose-error/>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.other }}
                </p>
            </md-input-container>

            <md-input-container>
                <label>New Password</label>
                <input type="password" name="newPassword" ng-model="user.newPassword"
                       ng-minlength="3"
                       required/>
                <p class="help-block"
                   ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                  Password must be at least 3 characters.
                </p>
            </md-input-container>

          <p class="help-block"> {{ message }} </p>

          <md-button class="md-raised md-primary" md-no-ink type="submit">Save changes</md-button>
        </form>
      </div>
    </md-content>
  </div>
