<div class="container">
  <div class="text-center">
    <h2>{{user.name}}</h2>
    <h3>Your TextBook Number: {{user.phone | tel}}</h3>
  </div>
      <div class="col-lg-5 col-md-5">
      <h3>Classrooms</h3>
      <ul class="list-group" ng-show="classrooms.length">
        <li class="list-group-item contact" ng-repeat="classroom in classrooms" ui-sref="classrooms.edit({classId: classroom._id})">
          <h5>{{classroom.name}}</h5>
        </li>
      </ul>
      <h4 ng-hide="classrooms.length">You don't have any classrooms!</h4>
      <button ui-sref="addClassroom" class="btn btn-success">Create a class</button>
      </div>
        <div class="col-lg-7 col-md-7">
        <h3>Change Password</h3>
        <form name="form" ng-submit="changePassword(form)" novalidate>
                <label>Current Password</label>
                <input type="password" class="form-control" name="password" ng-model="user.oldPassword" mongoose-error/>
                <p class="help-block" ng-show="form.password.$error.mongoose">
                    {{ errors.other }}
                </p>

                <label>New Password</label>
                <input type="password" class="form-control" name="newPassword" ng-model="user.newPassword"
                       ng-minlength="3"
                       required/>
                <p class="help-block"
                   ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
                  Password must be at least 3 characters.
                </p>

          <p class="help-block"> {{ message }} </p>

          <button class="btn btn-primary" type="submit">Save changes</button>
        </form>
      </div>
</div>