
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'font-awesome/scss/font-awesome';
@import 'bootstrap-sass-official/assets/stylesheets/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Open+Sans:400,600,700|Roboto:400|Old+Standard+TT:400,700|Vollkorn);

/**
 * App-wide Styles
 */

 $primary-color: #1976D2;
 $lighter-primary-color: lighten($primary-color, 5%);
 $font-color: lighten(#000, 30%);
 $logo-font: 'Arvo', serif;
 $body-font: 'Roboto', sans-serif;
 $second-background: darken(#FAFAFA, 5%);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.logo {
	font-family: $logo-font;
	font-size: 1.5em;
}
.logo-bold {
	font-weight: 700;
}

.logo-main {
	font-family: $logo-font;
	font-size: 6em;
	color: lighten(#000, 30%)
}


h1, h2, h3, h4, p, button {
	font-family: $body-font;
	color: $font-color;
}

h5 {
	font-family: $body-font;
}

body {
	background-color: #FAFAFA;
}

.navbar-main {
	background-color: $primary-color;
	a {
		color: #f2f2f2;
	}
	a:hover {
		background-color: $lighter-primary-color;
		color: #fff;
	}
	li {
		a:hover, a:active, a:focus {
			background-color: $lighter-primary-color;
		}
	}
}

.btn-primary {
	background-color: $primary-color;
}

.navbar-collapsed {
	float: right;
	margin-top: 5px;
}

.uncollapsed-nav {
	display: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 850px;
        margin: 0 auto;
    }
    .navbar-collapsed {
		display: none;
	}
	.uncollapsed-nav {
		display: block;
	}
	.bottom-nav {
		display: none;
	}
	.bottom-btns {
		display: inline;
	}
	.classdropdown {
		display: none;
	}
	.pagetoggle {
		display: inline;
	}

}

@media screen and (max-width: 768px) {
	.container {
        max-width: 730px;
        margin: 0 auto;
    }
    .bottom-nav {
    	display:block;
    }
    .bottom-btns {
    	display: none;
    }
    .classdropdown {
    	display: inline;
    	margin-top: 5px;
    }
    .pagetoggle {
    	display: none;
    }
    .borderright {
    	height: 150px;
    }
    .edit-students {
    	height: 150px;
    }
}

// Component styles are injected through grunt
// injector
@import 'about/about.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'directives/addContact/addContact.scss';
@import 'directives/addStudentForm/studentForm.scss';
@import 'directives/contactList/contactList.scss';
@import 'directives/editContact/editContact.scss';
@import 'directives/editStudentForm/editStudentForm.scss';
@import 'main/editClassroom/editClassroom.scss';
@import 'main/main.scss';
@import 'main/newClassroom/studentRoster/studentRoster.scss';
// endinjector
