<div ng-controller="NavbarCtrl" layout="column" layout-fill>
  <md-toolbar>
    <div class="md-toolbar-tools">
        <span><a href="/" class="logo">Text<strong class="black">Book</strong></a></span>
        <span flex></span>
        <div class="nav-options">
        <span ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></span>
        <span ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></span>
        <span ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings">Settings</a></span>
        <span ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></span>
      </div>
      </ul>
    </div>
  </md-toolbar>
</div>
 