 <div class="row">
      <div class="col-lg-4">
        <conversation>
        </conversation>
     </div>
    <div class="col-lg-8">
      <div class="pull-right">
            <button type="button" class="btn btn-default" ui-sref="classrooms.edit({className: currentClass._id})"><i class="fa fa-pencil-square-o"></i>Edit</button>
          </div>
      <!-- Start Message View -->
      <div class="panel panel-default">
        <div class="panel-heading">{{activeContact.name}}</div>
        <div class="panel-body">
          <div>
            <ul class="list-group">
              <li ng-repeat= 'message in messages'class="list-group-item list-group-item-success">{{message.body}}</li>
            </ul>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" ng-model="msgToSend" placeholder="Message...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="sendMsg(msgToSend)">Send!</button>
            </span>
          </div>
        </div>
      </div>
      <!-- End Message View -->
    </div>
  </div>
