.container {
    min-width: 900px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 5px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #555;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

a {
    text-decoration: none;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.contact-add-form {
    margin-left: 50px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

select {
    display: block;
}

.student-add-form {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
}

.sent {
  background-color: #1976D2;
  color: #FFF;
  text-align: right;
}

.discussion {
  list-style: none;
  background: #f5f5f5;
  margin: 0;
  padding: 0 0 50px 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    border-bottom-right-radius: 0; // weird shadow fix
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 1.4rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

.chat-panel {
  max-height: 350px;
  overflow-y: auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
