.container {
    min-width: 900px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 5px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #555;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

a {
    text-decoration: none;
}

.main {
    width: 80%;
    margin: 0 auto;
}

.contact-add-form {
    margin-left: 50px;
    padding: 10px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

select {
    display: block;
}

.student-add-form {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 10px;
}

.sent {
  background-color: #1976D2;
  color: #FFF;
  text-align: right;
}

.discussion-bg {
  height: 350px;
  background: #f5f5f5;
}

.discussion {
  list-style: none;
  margin: 0;
  padding: 0 0 50px 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    border-bottom-right-radius: 0; // weird shadow fix
  }
}

.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 1.4rem;
    margin: 0 0 0.2rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

.chat-panel {
  height: 350px;
  overflow-y: auto;
}

$primary-color: #ff4848;
$lighter-primary-color: lighten($primary-color, 5%);

.homework-nav{
  background-color: $primary-color;
  a {
    color: #f2f2f2;
  }
  a:hover {
    background-color: $lighter-primary-color;
    color: #fff;
  }
  li {
    a:hover, a:active, a:focus {
      background-color: $lighter-primary-color;
    }
  }
}

.modal-container {
  padding: 5px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}

.list-group-item {
  padding: 0;
}

.item-heading {
  padding: 10px;
}

.contact {
  width: 90%;
  margin-left: 5%;
  padding-left: 10px;
}

.small {
  margin-left: 10px;
}

.modal-container {
  height: 400px;
}

.search-results {
  padding: 5px;
  margin-top: 8px;
}
.search-result {
  padding: 5px;
  cursor: pointer;
}

.panel {
  padding: 3px;
}

.fa-times, .classes-dropdown {
  cursor: pointer;
}

.modal-container {
  height: 400px;
}

.frontpage {
  height: 500px;
}


.modal-container {
  height: 500px;
  width: 90%;
  padding: 20px;
  overflow: auto;
}

.modal-list-group {
  width: 300px;
}

.modal-li {
  display: block;
  padding: 10px;
}


.borderright {
  border-right: 2px solid $second-background;
  overflow: auto;

}

.fa-spinner {
  font-size: 4em;
}

.contact {
  margin: 5px 0;
}
