.thing-form {
    margin: 20px 0;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 5px;
    color: #F5F5F5;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #555;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.nav li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
}

.main {
    margin: 20px auto;
    border: 1px solid #ddd;
}