<div class="navbar navbar-static-top navbar-inverse">
	<div class="navbar-header"><a href="" class="logo navbar-brand">Send a group message</a></div>
</div>
<div class="row modal-container">
	<div class="col-lg-4 search-panel">
	<p>Send to all primary contacts in one class</p>
	<div class="btn-group" dropdown is-open="status.isopen">
		<button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
			{{selectedClass}}<span class="caret"></span>
		</button>
		<ul class="dropdown-menu classes-dropdown" role="menu">
			<li class="text-center" ng-click="setClass()"> -- </li>
			<li ng-repeat="class in user.classrooms" ng-click="setClass(class)"><a>{{class.name}}</a></li>
		</ul>
	</div>
		<div>
			Or, search for contact by student name
			<input type="text" class="form-control" ng-model="term" />
			<div ng-show="term.length > 2">
				<div class="panel panel-default search-results" ng-repeat="student in students | filter: studentFilter">
					{{ student.firstName }} {{ student.lastName }}:	
					<div class="list-group-item search-result" ng-repeat="contact in student.contacts" ng-click="addToTo(contact)">
						<i class="fa fa-plus"></i> {{contact.name}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-8">
		<div class="panel">
			To:
			<span class="panel" ng-repeat="contact in message.to">
				<i class="fa fa-times" ng-click="removeFromTo(contact)"></i> {{ contact.name }} - {{ contact.phone }}
			</span>
		</div>
			<input type="textarea" class="form-control" ng-model="message.body">
			<button class="btn btn-default" type="button" ng-click="schedule=true" ng-show="!schedule">Schedule for later</button>
			<button class="btn btn-default" type="button" ng-click="schedule=false" ng-show="schedule">Exit schedule mode</button>

			<div ng-show="schedule">
				<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
				<input type="text" class="lil-input" /> : <input type="text" class="lil-input"/>
				<button type="button" ng-click="setAmPm()">{{ amPm }}</button>
				<div ng-show="dt">Selected date is {{ dt | date:'fullDate' }}</div>
			</div>
			<button class="btn btn-primary form-control" ng-click="sendGroupMsg()" ng-show="!schedule" ng-disabled="!message.body.length || !message.to.length">Send</button>
			<button class="btn btn-primary form-control" ng-click="scheduleMsg()" ng-show="schedule" ng-disabled="!message.body.lengt || !message.to.length">Schedule</button>
	</div>
</div>
