<div class="student-add-form">
		<label>First name</label>
		<input type="text" name="firstName" ng-model="currentStudent.firstName" />
		<label>Last name</label>
		<input type="text" name="lastName" ng-model="currentStudent.lastName" />
	<ul>
		<h4>Contacts</h4>
		<li ng-repeat="contact in currentStudent.contacts">{{ contact.name }}: {{contact.phone}}</li>
	</ul>
	<div class="contact-add-form" layout-margin layout-padding>
		<h5>Add a contact for this student:</h5>
			<label>Contact's name</label>
			<input type="text" name="lastName" ng-model="currentContact.name" />
			<label>Contact's cell phone number</label>
			<input type="text" name="lastName" ng-model="currentContact.phone" />
		<md-button class="md-raised" type="button" md-no-ink ng-click="addContact()">Save contact</md-button>
	</div>
	<md-button class="md-raised" type="button" md-no-ink ng-click="addStudent()">Save student</md-button>
</div>