    <div class="main">
        <div class="row" ng-hide="studentRoster">
            <div class="col-lg-6">
                <form class="form-horizontal" name="form" ng-submit="addClassroom()" novalidate>
                        <label><h3>Class name</h3></label>
                        <input class="form-control" type="text" name="name" ng-model="classroom.name" />
                    <button type="submit" class="btn btn-default">Next</button>
                </form>
                <form class="form-horizontal" name="upload" ng-submit="uploadFile()">
                    <label><h3>Or Upload a Roster</h3></label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-primary btn-file">
                                    Browse&hellip; <input type="file" fileread="file">
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly ng-model="file.name">
                    </div>
                    <button type="submit" class="btn btn-default">Upload</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div ui-view></div>
        </div>
    </div>
