h4.about {
	line-height: 1.5;
	font-size: 1.3em;
	text-align: justify; 
}

.subheading {
	font-size: 2em;
}

.topabout {
	margin-top: 20px;
}

.aboutcontain {
	margin: 100px 20px 300px 20px;
}
.containp {
	width: 80%;
	margin: auto;
}