  <ul class="list-group">
    <li class="list-group-item" ng-repeat="student in currentClass.students">
      <h5 class="item-heading" ng-click="toggleContacts(student)">{{ student.firstName }} {{ student.lastName }} <span id="{{ student._id }}">&nbsp;</span></h5>
      <ul class="list-group toggle" ng-show="ids[student._id]">
        <li class="list-group-item contact" ng-repeat="contact in student.contacts" class="list-group-item" ui-sref=".conversation({contactId: contact._id})">
        <h5>{{contact.name}}<span id="{{ contact._id }}">&nbsp;</span></h5>
        </li>
      </ul>
    </li>
  </ul>
</div>