<div class="row">
	<div class="col-md-8">
		<h3 class="text-center">{{newClass.name}}</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th ng-repeat="column in columnNames">{{column}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="student in studentRoster">
					<td class="cell" ng-repeat="column in columnNames" style="padding:0;"><input type="text" ng-model="student[column]"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4" class="pull-right">
		<div ng-show="progress === 0">
			<form name="addClassSpreadsheetForm" ng-submit="createClass()" novalidate>
				<p>First, what do you want to call your class?</p>
				<input type="text" name="classname" ng-model="newClass.name" ng-required="true" ng-minlength="4">
				<p class="help-block" ng-show="addClassSpreadsheetForm.classname.$invalid && validClass">Class name should be at least 4 characters</p>
				<button class="btn btn-primary" type="submit">Save Class Name</button>
			</form>
		</div>
			<div ng-repeat="key in modelKeys" ng-show="($index + 1) === progress">
			<form name="selectForm">
				<p>Select the column with the student's {{modelNames[key]}}<p>
					<select class="form-control" ng-model="columnSelected[key]" ng-options="column as column for column in columnNames" value="column" ng-required="true">
					</select>
				<button type="submit" class="btn btn-primary" ng-click="changeDataKey(key)" ng-disabled="selectForm.$invalid">Next</button><i class="fa fa-spinner fa-spin" ng-show="loading.name"></i>
				</form>
					</div>
				<div ng-show="progress > 5">
					<button class="btn btn-success" ng-click="saveData()">Save Class</button>
				</div>
			</div>
</div>